* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  background-color: #dfdfdf;
  background:linear-gradient(#fff,#bfbfbf)fixed;
  color: #001f00;
}
html {
  height: 100%;
}

#header {
  position: sticky;
  top: 0;
  display:flex;
  justify-content: space-around;
  height: 46px;
  border-bottom: 2px solid #bfbfbf;
  background-color: #fff;
  box-shadow: 0 0 8px #bfbfbf;
  z-index: 2;
}

#header-left {
display: flex;
}
#header-logo {
  display:flex;
  justify-content: center;
  align-items: center;
  min-width: 46px;
  filter: drop-shadow(0 0 2px #000);
}
#header-space {
  width: 8px;
}
#header-text {
  display:flex;
  justify-content: center;
  flex-direction: column;
  min-width: 160px;
  font-weight: bold;
  font-size:18px;
  text-shadow: 0px 0px 2px #3f3f3f;
}
#header-down {
  width: 100%;
  text-align: center
}

#header-right {
  display:flex;
}
#top-tab-icon {
  display:flex;
  justify-content: flex-end;
  width: 20px;
  filter: drop-shadow(0 0 1px #3f3f3f) 
}
#top-tab-text {
  display:flex;
  width: 90px;
  padding-left: 4px;
  font-weight: bold;
  font-size:18px;
  text-shadow: 0px 0px 1px #000;
  text-decoration: none;
}

#top-tab {
  display:flex;
  align-items: center;
  margin: 0px -1px;
  height: 46px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 2px solid #bfbfbf;
  background-color: #efefef;
  color: #3f3f3f;
  text-decoration: none;
  z-index: 1;
  filter: drop-shadow(0 0 1px #000);
}
#top-tab:hover {
  border-bottom: 2px solid #000;
  background-color: #fff;
}
#top-tab-active {
  display:flex;
  align-items: center;
  margin: 0px -1px;
  height: 46px;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  border-bottom: 2px solid #7f7f7f;
  background-color: #cfcfcf;
  color: #000000;
  text-decoration: none;
}
#top-tab-active:hover {
  border-bottom: 2px solid #000;
}

#bg {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#txt-large {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 32px;
  font-weight: bold;
  font-size: 32px;
  color: #4f4f4f;
  text-shadow: 0px 0px 2px #000;
  animation-name: grow;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.5,0.5,0.5,2);
}
@keyframes grow {
  from { opacity: 0; transform: scale(0.75, 0.75); }
  to { opacity: 1; transform: scale(1, 1); }
}

#mid-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 464px;
  width: 70%;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  box-shadow: 0 0 8px #bfbfbf;
  animation: slide 0.5s;
  position: relative;
}
@keyframes slide {
  0% {opacity: 0;top: 50px;}
  50% {opacity: 0;top: 50px;}
  100% {opacity: 1;top: 0px;}
}

#mid-row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
}
#mid-row-2 {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  max-width: 90%;
}

#mid-center-txt-1 {
  display: flex;
  flex: 1 0 1%;
  justify-content: center;
  align-items: center;
  padding: 8px;
  min-width: 256px;
  width: 60%;
  font-size: 17px;
  text-align: justify;
}
#mid-center-img-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 256px;
  width: 40%;
  padding: 8px;
}

#foot {
position: sticky;
bottom: 0;
display: flex;
justify-content: center;
align-items: center;
height: 40px;
border-top: 1px solid #2f2f2f;
background-color: #3f3f3f;
box-shadow: 0 0 8px #3f3f3f;
text-align: center;
font-size: 16px;
color: #fff;
text-shadow: 1px 1px 1px #000, 0 0 2px #000;
}

#cv-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 384px;
  max-width: 790px;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  box-shadow: 0 0 8px #bfbfbf;
  animation: slide 0.5s;
  position: relative;
  padding: 40px;
}
@keyframes slide {
  0% {opacity: 0;top: 50px;}
  50% {opacity: 0;top: 50px;}
  100% {opacity: 1;top: 0px;}
}

#cv-bold {
  font-weight:800;
  font-size: 20px;
}
#cv-normal {
  font-size: 16px;
padding-bottom: 10px;
}
#cv-small {
  font-size: 14px;
  font-weight: bold;
  color:  #7f7f7f;
}

#cv-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
#cv-bar-cell {
  display: flex;
  align-items: center;
}

#cv-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}
#cv-1 {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

#cv-column-split {
  display: flex;
  flex-direction: row;
}
#cv-column-split-left{
  width: 42%;
}
#cv-column-split-right{
  width: 58%;
}

#cv-icons {
  padding: 2px 4px 2px 0px;
  filter: drop-shadow(0 0 1px #3f3f3f) 
}
ul {
  padding-left: 20px;
}

#mid-content2 {
  display: flex;
  justify-content: center;
  min-width: 464px;
  width: 70%;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  box-shadow: 0 0 8px #bfbfbf;
  animation: slide 0.5s;
  position: relative;
}
#ig {
  display: flex;
  justify-content: center;
  width: 100%;
}

#ig-1-column{
  display: flex;
  flex-direction: column;
 justify-content: center;
  max-width: 158px;
  width: 20%;
  margin: 6px;
}
#ig-1-cell {
  display: flex;
  flex-direction: column;
}
#ig-1-cell img {
  margin: 2px;
  opacity: 1;
  cursor: pointer;
}
#ig-1-cell img:hover {
  margin: 1px;

  border: 1px solid #000;
  opacity: 0.5;
}
#ig-1-cell img:active {
  border: 1px solid #000;
  filter: brightness(50%);
  opacity: 1;
  }

#ig-2-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 616px;
}
#ig-2-preview {
  padding: 8px;
  width: 100%;
  max-width: 616px;
}
#ig-2-name {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 48px;
  height: 1px;
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0px 0px 4px #000, 0px 0px 4px #000,  0px 0px 4px #000;
}

@media screen and (max-width: 600px) {
  #top-tab-text {
    padding-left: 0px;
    justify-content: center;
  }
  #top-tab-icon {
    display: none;
  }
  #header-space  {
    display: none;
  }
}

@media screen and (max-width: 780px) {
#cv-bar-cell {
  width: 100%;
  }
}